primehub-all:
  # Core
  busybox: &busybox busybox:1.31
  primehub-admission: &primehub-admission infuseai/primehub-admission:6162f37732
  primehub-bootstrap: &primehub-bootstrap infuseai/primehub-bootstrap:20191022

  # Controller
  primehub-controller: &primehub-controller infuseai/primehub-controller:v3.6-a68e9de2
  primehub-monitoring-agent: &primehub-monitoring-agent infuseai/primehub-monitoring-agent:latest
  kube-rbac-proxy: &kube-rbac-proxy gcr.io/kubebuilder/kube-rbac-proxy:v0.4.1

  # Primehub Console
  primehub-console: &primehub-console infuseai/primehub-console:v3.6-fb40aec8
  primehub-console-model-deploy: &primehub-console-model-deploy infuseai/primehub-console-model-deploy:v3.6-fb40aec8
  primehub-console-graphql: &primehub-console-graphql infuseai/primehub-console-graphql:v3.6-fb40aec8
  primehub-console-watcher: &primehub-console-watcher infuseai/primehub-console-watcher:v3.6-fb40aec8

  # Metacontroller
  metacontroller: &metacontroller metacontroller/metacontroller:0.2
  jsonnetd: &jsonnetd metacontroller/jsonnetd:0.1
  git-sync: &git-sync k8s.gcr.io/git-sync:v3.0.1
  volume-nfs: &volume-nfs k8s.gcr.io/volume-nfs:0.8

  # Keycloak
  keycloak: &keycloak jboss/keycloak:8.0.1
  bitnami-postgresql: &bitnami-postgresql bitnami/postgresql:11.5.0-debian-9-r60
  minideb: &minideb bitnami/minideb:stretch
  primehub-keycloak-theme: &primehub-keycloak-theme infuseai/primehub-keycloak-theme:e1e29f10

  # Jupyterhub
  pause: &pause gcr.io/google_containers/pause:3.0
  jupyterhub-k8s: &jupyterhub-k8s infuseai/jupyterhub-k8s:jh-5c94e4f4
  configurable-http-proxy: &configurable-http-proxy jupyterhub/configurable-http-proxy:4.1.0
  k8s-image-awaiter: &k8s-image-awaiter jupyterhub/k8s-image-awaiter:0.9-b51ffeb
  statsd-exporter: &statsd-exporter prom/statsd-exporter:v0.9.0

  # Dataset Uploader
  dataset-upload-web-front-end: &dataset-upload-web-front-end infuseai/dataset-upload-web-front-end:d744507a5e

  # Model deployment
  seldon-core-executor: &seldon-core-executor seldonio/seldon-core-executor:1.1.0
  model-storage-initializer: &model-storage-initializer gcr.io/kfserving/storage-initializer:v0.4.0
  mlflow-model-storage-initializer: &mlflow-model-storage-initializer infuseai/mlflow-model-downloader:v0.1.0
  prepackaged-tensorflow: &prepackaged-tensorflow infuseai/tensorflow2-prepackaged:v0.2.0
  prepackaged-pytorch: &prepackaged-pytorch infuseai/pytorch-prepackaged:v0.2.0
  prepackaged-sklearn: &prepackaged-sklearn infuseai/sklearn-prepackaged:v0.1.0

  # SSH Bastion Server
  ssh-proxy: &ssh-proxy mltooling/ssh-proxy:0.1.11

  # Usage
  primehub-usage: &primehub-usage infuseai/primehub-usage:v1.0.1
  postgres: &postgres postgres:12

  # PrimeHub Store
  minio: &minio minio/minio:RELEASE.2021-03-04T00-53-13Z
  mc: &mc minio/mc:RELEASE.2021-03-12T03-36-59Z
  csi-attacher: &csi-attacher quay.io/k8scsi/csi-attacher:v1.1.1
  csi-cluster-driver-registrar: &csi-cluster-driver-registrar quay.io/k8scsi/csi-cluster-driver-registrar:v1.0.1
  csi-node-driver-registrar: &csi-node-driver-registrar quay.io/k8scsi/csi-node-driver-registrar:v1.1.0
  csi-rclone: &csi-rclone infuseai/csi-rclone:v1.2.0-13-g9b79578

  # Log Collector
  fluentd-kubernetes-daemonset: &fluentd-kubernetes-daemonset fluent/fluentd-kubernetes-daemonset:v1.11-debian-s3-1

  # Tusd Uploader
  tusd: &tusd tusproject/tusd:v1.4.0


primehub-ee:
  # Core
  busybox: *busybox
  primehub-admission: *primehub-admission
  primehub-bootstrap: *primehub-bootstrap

  # Controller
  primehub-controller: *primehub-controller
  primehub-monitoring-agent: *primehub-monitoring-agent
  kube-rbac-proxy: *kube-rbac-proxy

  # Primehub Console
  primehub-console: *primehub-console
  primehub-console-graphql: *primehub-console-graphql
  primehub-console-watcher: *primehub-console-watcher

  # Metacontroller
  metacontroller: *metacontroller
  jsonnetd: *jsonnetd
  git-sync: *git-sync
  volume-nfs: *volume-nfs

  # Keycloak
  keycloak: *keycloak
  bitnami-postgresql: *bitnami-postgresql
  minideb: *minideb
  primehub-keycloak-theme: *primehub-keycloak-theme

  # Jupyterhub
  pause: *pause
  jupyterhub-k8s: *jupyterhub-k8s
  configurable-http-proxy: *configurable-http-proxy
  k8s-image-awaiter: *k8s-image-awaiter
  statsd-exporter: *statsd-exporter

  # Dataset Uploader
  dataset-upload-web-front-end: *dataset-upload-web-front-end

  # Model deployment
  seldon-core-executor: *seldon-core-executor
  model-storage-initializer: *model-storage-initializer
  mlflow-model-storage-initializer: *mlflow-model-storage-initializer
  prepackaged-tensorflow: *prepackaged-tensorflow
  prepackaged-pytorch: *prepackaged-pytorch
  prepackaged-sklearn: *prepackaged-sklearn

  # SSH Bastion Server
  ssh-proxy: *ssh-proxy

  # Usage
  primehub-usage: *primehub-usage
  postgres: *postgres

  # PrimeHub Store
  minio: *minio
  mc: *mc
  csi-attacher: *csi-attacher
  csi-cluster-driver-registrar: *csi-cluster-driver-registrar
  csi-node-driver-registrar: *csi-node-driver-registrar
  csi-rclone: *csi-rclone

  # Log Collector
  fluentd-kubernetes-daemonset: *fluentd-kubernetes-daemonset

  # Tusd Uploader
  tusd: *tusd

primehub-deploy:
  # Core
  busybox: *busybox
  primehub-admission: *primehub-admission
  primehub-bootstrap: *primehub-bootstrap

  # Controller
  primehub-controller: *primehub-controller
  primehub-monitoring-agent: *primehub-monitoring-agent
  kube-rbac-proxy: *kube-rbac-proxy

  # Primehub Console
  primehub-console-model-deploy: *primehub-console-model-deploy
  primehub-console-graphql: *primehub-console-graphql
  primehub-console-watcher: *primehub-console-watcher

  # Metacontroller
  metacontroller: *metacontroller
  jsonnetd: *jsonnetd

  # Keycloak
  keycloak: *keycloak
  bitnami-postgresql: *bitnami-postgresql
  minideb: *minideb
  primehub-keycloak-theme: *primehub-keycloak-theme

  # Model deployment
  seldon-core-executor: *seldon-core-executor
  model-storage-initializer: *model-storage-initializer
  mlflow-model-storage-initializer: *mlflow-model-storage-initializer
  prepackaged-tensorflow: *prepackaged-tensorflow
  prepackaged-pytorch: *prepackaged-pytorch
  prepackaged-sklearn: *prepackaged-sklearn

  # Usage
  primehub-usage: *primehub-usage
  postgres: *postgres

primehub-admin-notebook:
  primehub-admin-notebook: infuseai/primehub-admin-notebook:dd029e8112
  keycloak-gatekeeper: keycloak/keycloak-gatekeeper:6.0.1

primehub-jupyter-images:
  base-notebook: infuseai/docker-stacks:base-notebook-dbdcead1
  base-notebook-gpu: infuseai/docker-stacks:base-notebook-dbdcead1-gpu
  pytorch-notebook: infuseai/docker-stacks:pytorch-notebook-v1-7-0-a8109814
  pytorch-notebook-gpu: infuseai/docker-stacks:pytorch-notebook-v1-7-0-a8109814-gpu-cuda-11
  tensorflow-notebook: infuseai/docker-stacks:tensorflow-notebook-v1-15-4-dbdcead1
  tensorflow-notebook-gpu: infuseai/docker-stacks:tensorflow-notebook-v1-15-4-dbdcead1-gpu
  tensorflow-notebook-tf-v2: infuseai/docker-stacks:tensorflow-notebook-v2-4-1-dbdcead1
  tensorflow-notebook-tf-v2-gpu: infuseai/docker-stacks:tensorflow-notebook-v2-4-1-dbdcead1-gpu-cuda-11

primehub-model-images:
  model-tensorflow2-mnist-0-1: infuseai/model-tensorflow2-mnist:v0.1.0
  model-tensorflow2-mnist-0-2: infuseai/model-tensorflow2-mnist:v0.2.0

