[submodule "vendor/zero-to-jupyterhub-k8s"]
	path = vendor/zero-to-jupyterhub-k8s
	url = https://github.com/InfuseAI/zero-to-jupyterhub-k8s.git
	branch = primehub_v4_z2jh_v2
[submodule "chart/modules/awesome-primehub-apps"]
	path = chart/modules/awesome-primehub-apps
	url = https://github.com/InfuseAI/awesome-primehub-apps.git 
	branch = main
