{% extends "templates/home.html" %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="text-center">
      {% if (user.spawner and
             user.spawner.ready and
             user.spawner.active_group and
             user.spawner.launch_group and
             user.spawner.active_group != user.spawner.launch_group)
      %}
      <h3>The current server is launched by another group ({{ user.spawner.launch_group }})</h3>
      {% endif %}

      {% if default_server.active %}
        <a id="stop" role="button" class="btn btn-lg btn-danger">
          Stop My Server
        </a>
      {% endif %}
      <a id="start" role="button" class="btn btn-lg btn-primary" href="{{ url }}">
      {% if not default_server.active %}Start{% endif %}
      My Server
      </a>
    </div>
  </div>
</div>
{% endblock main %}
{% block script %}
{{ super() }}
<script type="text/javascript">
require(["jquery"], function(
  $
) {
  // Open in new tab when clicking "My server"
  {% if default_server.active %}
  $("#start").attr("target", "_blank");
  {% endif %}

  // On stop button is clicked, "My server" would be grayed out. And then change to "Start my server"
  // In this case, we don't want to open in new tab
  $("#stop").click(function() {
    $("#start").removeAttr("target");
  });

  // force refresh the access token in case to get 403 in the API call.
  // please see ch12047
  setTimeout(function(){
    window.location.reload();
  }, 5 * 60 * 1000);
});
</script>

{% endblock %}
