{% extends "templates/page.html" %}

{% block stylesheet %}
<link rel="icon" href="/console/favicon/logo-16.png" size="16x16">
<link rel="icon" href="/console/favicon/logo-32.png" size="32x32">
<link rel="icon" href="/console/favicon/logo-64.png" size="64x64">
{{ super() }}
<link rel="stylesheet" href="{{ static_url("css/primehub/primehub.css") }}" type="text/css" />
<script src="{{ static_url("components/primehub/mustache.min.js") }}" integrity="sha256-1B6REXjRTNQ4IJEUSVYbAqEDRIYP8uKNUo+QgYZUzJM=" crossorigin="anonymous"></script>
{% endblock %}

{% block logo %}
{% endblock %}
{% block announcement %}
{% if announcement %}
<div class="container announcement">
  {{ announcement | safe }}
</div>
{% endif %}
{% endblock %}

{% block nav_bar_right_items %}
{% endblock %}

{% block nav_bar %}
{{ super() }}
<div>base_url: {{ base_url }} </div>
<div>prefix: {{ prefix }} </div>
<div>login_url: {{ login_url }} </div>
<div>logout_url: {{ logout_url }} </div>
<div>static_url: {{ static_url }} </div>
{% if user.spawner %}
<div>launch_group: {{user.spawner.launch_group }} </div>
<div>active_group: {{user.spawner.active_group }} </div>
{% endif %}
{% endblock %}

