version: 2

jobs:
  unit_test:
    docker:
      - image: circleci/python:3.8

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Unit tests
          command: |
            # checkout submodules
            git submodule init && git submodule sync && git submodule update --init --recursive && git submodule status

            # create venv
            python3 -m venv .venv
            source .venv/bin/activate

            # run tests
            cd chart
            pip install --upgrade pip
            pip install wheel
            pip install -r ../vendor/zero-to-jupyterhub-k8s/images/hub/requirements.txt --upgrade
            pip install pytest-cov
            make test-html

            # upload artifacts
            mkdir -p /tmp/artifacts
            mv htmlcov /tmp/artifacts/

      - store_artifacts:
          path: /tmp/artifacts

  e2e:
    machine:
      #image: infuseai/primehub-ci:0.6.3-e2e
      image: ubuntu-1604:202004-01
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            ./ci/setup_env.sh
      - run:
          name: End-to-end tests
          command: |
            ./ci/ci-test.sh

      - store_artifacts:
          path: ~/project/e2e

  e2e_ee:
    machine:
      image: ubuntu-1604:202004-01
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            ./ci/setup_env.sh
      - run:
          name: End-to-end tests
          environment:
            PRIMEHUB_MODE: ee
          command: |
            ./ci/ci-test.sh

      - store_artifacts:
          path: ~/project/e2e

  e2e_installed_ph_daily:
    machine:
      image: ubuntu-1604:202004-01
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            ./ci/setup_env.sh
      - run:
          name: End-to-end tests
          environment:
            INSTALLED_PH: "true"
            E2E_SCHEDULED: "daily"
          command: |
            ./ci/ci-test.sh
      - store_artifacts:
          path: ~/project/e2e

  e2e_installed_ph_weekly:
    machine:
      image: ubuntu-1604:202004-01
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            ./ci/setup_env.sh
      - run:
          name: End-to-end tests
          environment:
            INSTALLED_PH: "true"
            E2E_SCHEDULED: "weekly"
          command: |
            ./ci/ci-test.sh
      - store_artifacts:
          path: ~/project/e2e

  e2e_regression:
    machine:
      image: ubuntu-1604:202004-01
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            ./ci/setup_env.sh
      - run:
          name: End-to-end tests
          no_output_timeout: 20m
          environment:
            PRIMEHUB_MODE: ee
            E2E_REGRESSION: "true"
          command: |
            ./ci/ci-test.sh
      - store_artifacts:
          path: ~/project/e2e

  e2e_normal_user:
    machine:
      image: ubuntu-1604:202004-01
    steps:
      - checkout
      - run:
          name: Setup
          command: |
            ./ci/setup_env.sh
      - run:
          name: End-to-end tests
          environment:
            PRIMEHUB_MODE: ee
            E2E_NORMAL_USER: "true"
          command: |
            ./ci/ci-test.sh
      - store_artifacts:
          path: ~/project/e2e

  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.8

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - add_ssh_keys:
          fingerprints:
            - "d0:90:27:9c:dc:28:b5:3e:d8:18:0c:9a:64:46:6f:d4"
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - deps-{{ checksum "requirements.txt" }}

      - run:
          name: publish
          command: |
            ./ci/publish.sh

      - save_cache:
          key: deps-{{ checksum "requirements.txt" }}
          paths:
            - ".venv"

  build_vm:
    machine:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      image: ubuntu-2004:202101-01

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - add_ssh_keys:
          fingerprints:
            - "d0:90:27:9c:dc:28:b5:3e:d8:18:0c:9a:64:46:6f:d4"
      - checkout

      - run:
          name: vm_build
          command: |
            ./ci/vm/build.sh

workflows:
  version: 2
  release_builds:
    jobs:
      - unit_test
      - e2e
      - e2e_ee
      - build:
          filters:
            tags:
              only: /v.*/
            branches:
              ignore: /.*/
      - build_vm:
          context: build-vm
          requires:
            - build
          filters:
            tags:
              only: /v.*/
            branches:
              ignore: /.*/
  daily_workflow:
    triggers:
      - schedule:
          cron: "0 21 * * 0,1,3,4,5,6"
          filters:
            branches:
              only:
                - master
    jobs:
      - e2e_normal_user
      - e2e_installed_ph_daily:
          context: e2e-demo-a
  weekly_workflow:
    triggers:
      - schedule:
          cron: "0 21 * * 2"
          filters:
            branches:
              only:
                - master
    jobs:
      - e2e_regression
      - e2e_installed_ph_weekly:
          context: e2e-demo-a
