{{- $ca := genCA "primehub-admission-webhook-certs" 3650 }}
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: pod-image-mutating-webhook
webhooks:
  - name: pod-image-mutating-webhook.primehub.io
    sideEffects: None
    clientConfig:
      service:
        name: primehub-admission
        namespace: {{ .Release.Namespace }}
        path: "/image-mutation"
      caBundle: {{ $ca.Cert | b64enc }}
    rules:
      - operations: [ "CREATE" ]
        apiGroups: ["*"]
        apiVersions: ["*"]
        resources: ["pods"]
    failurePolicy: Ignore
    namespaceSelector:
      matchLabels:
        primehub.io/image-mutation-webhook: "enabled"
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: pvc-check-webhook
webhooks:
  - name: pvc-check.primehub.io
    sideEffects: None
    clientConfig:
      service:
        name: primehub-admission
        namespace: {{ .Release.Namespace }}
        path: /pvc-check
      caBundle: {{ $ca.Cert | b64enc }}
    rules:
      - operations: [ "CREATE" ]
        apiGroups: ["*"]
        apiVersions: ["*"]
        resources: ["pods"]
    failurePolicy: Ignore
    namespaceSelector:
      matchLabels:
        primehub.io/admission-webhook: "enabled"
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: resources-validation-webhook
webhooks:
  - name: resources-validation-webhook.primehub.io
    sideEffects: None
    clientConfig:
      service:
        name: primehub-admission
        namespace: {{ .Release.Namespace }}
        path: "/"
      caBundle: {{ $ca.Cert | b64enc }}
    rules:
      - operations: [ "CREATE" ]
        apiGroups: ["*"]
        apiVersions: ["*"]
        resources: ["pods"]
    failurePolicy: Ignore
    namespaceSelector:
      matchLabels:
        primehub.io/admission-webhook: "enabled"
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
  name: license-validating-webhook
webhooks:
  - name: license-validating-webhook.primehub.io
    sideEffects: None
    clientConfig:
      service:
        name: primehub-admission
        namespace: {{ .Release.Namespace }}
        path: /license-check
      caBundle: {{ $ca.Cert | b64enc }}
    failurePolicy: Ignore
    namespaceSelector:
      matchLabels:
        primehub.io/admission-webhook: "enabled"
    rules:
      - operations: [ "CREATE", "UPDATE" ]
        apiGroups: ["*"]
        apiVersions: ["*"]
        resources: ["licenses"]
---
{{- $cn := "primehub-admission" }}
{{- $altName1 := printf "%s.%s" $cn .Release.Namespace }}
{{- $altName2 := printf "%s.%s.svc" $cn .Release.Namespace }}
{{- $altNames := (list $altName1 $altName2) }}
{{- $cert := genSignedCert $cn nil $altNames 3650 $ca }}
apiVersion: v1
kind: Secret
metadata:
  name: primehub-admission-webhook-certs
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  cert.pem: {{ $cert.Cert | b64enc }}
  key.pem: {{ $cert.Key | b64enc }}
