{{- if eq .Values.primehub.mode "ee" }}
{{- if .Values.adminNotebook.enabled -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "primehub.name" . }}-admin-notebook
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "primehub.name" . }}-admin-notebook
rules:
- apiGroups:
  - "*"
  resources:
  - "*"
  verbs:
  - "*"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "primehub.name" . }}-admin-notebook
subjects:
- kind: ServiceAccount
  name: {{ include "primehub.name" . }}-admin-notebook
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ include "primehub.name" . }}-admin-notebook
  apiGroup: rbac.authorization.k8s.io
{{- end -}}
{{- end }}
