:root {
  --dull-color: #c7dbf4;
  --active-color: #365abd;
  --error-color: #bd365a;
  --warning-color: #ffdd40;
}

body {
  padding-bottom: 2.5em;
}

.btn-primary, .btn-jupyter {
  color: #fff;
  background-color: #365abd;
  border-color: #c7dbf4;
}

.btn-primary:focus, .btn-primary:hover, .btn-jupyter:focus, .btn-jupyter:hover {
  color: #c7dbf4;
  text-decoration: none;
  background-color: #365abd;
  border-color: #c7dbf4;
}

.btn-primary[disabled], .btn-jupyter[disabled] {
  background-color: #95b3e6;
}

.announcement {
  background: #ef5748; /* Old browsers */
  background: linear-gradient(to bottom, #ef5748 0%,#e24033 100%);
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.panel-spawner label p {
  font-weight: normal;
}

.image-item-icon {
  width: 48px;
  height: 48px;
  float: right;
  background-repeat: no-repeat;
  background-position: center center;
}

.primehub-version {
  color: #777;
  position: relative;
  display: block;
  padding: 10px 15px;
}

label.disabled {
  color: #CCC;
}

/* Progress Bar */


.custom-progress-bar {
  padding-top: 40px;
  padding-bottom: 40px;
}

.custom-progress-bar .progress-bar-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 1fr;
}

.tick {
  display: grid;
  grid-template-rows: auto 1em;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  grid-template-areas: "tl tm tr" "bl bm br";
}

.tick:first-of-type .bar-left {
  opacity: 0;
}

.tick:last-of-type .bar-right {
  opacity: 0;
}

.dot {
  grid-area: tm;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: 1em;
  width: 1em;
  background: var(--dull-color);
  border-radius: 9999px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.dot-inner {
  grid-area: tm;
  background: inherit;
  height: 10px;
  width: 10px;
  border-radius: 3em;
}

.label {
  grid-area: bm;
  padding: 1em;
  text-align: center;
  font-size: 14px;
  color: var(--dull-color);
}

.bar {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1em 1fr;
}
.bar .bar-inner {
  height: 1px;
  width: 100%;
  background: var(--dull-color);
}
.bar .bar-left {
  height: 1px;
  width: 100%;
  background: var(--dull-color);
}
.bar .bar-middle {
  height: 1px;
  width: 100%;
}
.bar .bar-right {
  height: 1px;
  width: 100%;
  background: var(--dull-color);
}

.in-progress.tick .dot {
  -webkit-animation: glow 1.5s infinite cubic-bezier(0.17, 0.67, 0.83, 0.67), colorActive 1.5s 1 2s;
  animation: glow 1.5s infinite cubic-bezier(0.17, 0.67, 0.83, 0.67), colorActive 1.5s 1 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.in-progress.tick .dot-inner {
  -webkit-animation: pulse 2s infinite 2s;
  animation: pulse 2s infinite 2s;
  will-change: all;
}

.cancel-spawn {
  display: inline-block;
  font-size: 11pt;
  margin-bottom: 30px;
}

.in-progress .cancel-spawn, .error .cancel-spawn {
  display: inline-block;
}

.load-mask {
  position: absolute;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  vertical-align: middle;
  opacity: 0;
  z-index: -1;
}

.load-mask.active {
  opacity: 0.85;
  z-index: 1;
}

.load-mask .primehub-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes glow {
  0% {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 -1px 2px 0px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26), 0 -1px 2px 0px rgba(0, 0, 0, 0.08);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 -1px 2px 0px rgba(0, 0, 0, 0);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26), 0 -1px 2px 0px rgba(0, 0, 0, 0.08);
  }
}
@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
  }
}
@-webkit-keyframes in_prog {
  from {
    width: 0;
  }
}
@keyframes in_prog {
  from {
    width: 0;
  }
}
.error .dot {
  background-color: var(--error-color);
}
.error .label {
  color: var(--error-color);
}
.error .bar .bar-left {
  background-color: var(--active-color);
}
.error .bar .bar-right {
  background-color: var(--dull-color);
}

.done .dot {
  background-color: var(--active-color);
}
.done .label {
  color: var(--active-color);
}
.done .bar .bar-left {
  background-color: var(--active-color);
}
.done .bar .bar-right {
  background-color: var(--active-color);
}

.in-progress .dot {
  background-color: var(--active-color);
}
.in-progress .label {
  color: var(--active-color);
}
.in-progress .bar .bar-left {
  -webkit-animation: in_prog 1s ease;
  animation: in_prog 1s ease;
  background-color: var(--active-color);
}
.in-progress .bar .bar-right {
  background-color: var(--dull-color);
}

.warning .dot {
  background-color: var(--warning-color) !important;
}

.primehub-logo {
  display: block;
  width: 200px;
}
.primehub-logo img {
  display: block;
  width: 100%;
}

.line-spinner {
  height: 3px;
  width: 100%;
  background: #e5e5e5;
  margin-top: 0.5em;
}
.line-spinner .inner {
  width: 100%;
  height: inherit;
  background: #95b3e6;
  animation: slide 2s ease-in-out infinite;
}

@keyframes slide {
  0% {
    transform-origin: left;
    transform: scalex(0.3);
  }
  25% {
    transform-origin: left;
    transform: scalex(1);
  }
  26% {
    transform-origin: right;
    transform: scalex(1);
  }
  50% {
    transform-origin: right;
    transform: scalex(0.3);
  }
  75% {
    transform-origin: right;
    transform: scalex(1);
  }
  76% {
    transform-origin: left;
    transform: scalex(1);
  }
  100% {
    transform-origin: left;
    transform: scalex(0.3);
  }
}
