{{- if eq (include "fluentd.enabled" .) "true" -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "primehub.name" . }}-fluentd
stringData:
  # This is temporary secret. Will use the same secret in primehub store.
  aws_access_key_id: {{ include "primehub.store.accessKey" .}}
  aws_secret_access_key: {{ include "primehub.store.secretKey" .}}
{{- end }}
